@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-Black.otf') format('woff'),
    url('../fonts/MazzardH-Black.otf') format('opentype'),
    url('../fonts/MazzardH-Black.otf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-ExtraBold.otf') format('woff'),
    url('../fonts/MazzardH-ExtraBold.otf') format('opentype'),
    url('../fonts/MazzardH-ExtraBold.otf') format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-Bold.otf') format('woff'),
    url('../fonts/MazzardH-Bold.otf') format('opentype'),
    url('../fonts/MazzardH-Bold.otf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-SemiBold.otf') format('woff'),
    url('../fonts/MazzardH-SemiBold.otf') format('opentype'),
    url('../fonts/MazzardH-SemiBold.otf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-Medium.otf') format('woff'),
    url('../fonts/MazzardH-Medium.otf') format('opentype'),
    url('../fonts/MazzardH-Medium.otf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-Regular.otf') format('woff'),
    url('../fonts/MazzardH-Regular.otf') format('opentype'),
    url('../fonts/MazzardH-Regular.otf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-Thin.otf') format('woff'),
    url('../fonts/MazzardH-Thin.otf') format('opentype'),
    url('../fonts/MazzardH-Thin.otf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-Light.otf') format('woff'),
    url('../fonts/MazzardH-Light.otf') format('opentype'),
    url('../fonts/MazzardH-Light.otf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: Mazzard;
  src: url('../fonts/MazzardH-ExtraLight.otf') format('woff'),
    url('../fonts/MazzardH-ExtraLight.otf') format('opentype'),
    url('../fonts/MazzardH-ExtraLight.otf') format('truetype');
  font-weight: 100;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.v-application,
.v-application .display-1,
.v-application .display-2,
.v-application .display-3,
.v-application .display-4,
.v-application .text-h1,
.v-application .text-h2,
.v-application .text-h3,
.v-application .text-h4,
.v-application .text-h5,
.v-application .text-h6,
.v-application .headline,
.v-application .subtitle-1,
.v-application .subtitle-2,
.v-application .title,
.nd-font {
  font-family: Mazzard, sans-serif !important;
}

.v-application .elevated {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.12),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.1),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.1),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.1) !important;
}

.v-application .elevated-light {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.042),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.04),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.04),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.04) !important;
}

.v-application .mt-17 {
  margin-top: 68px !important;
}

.v-application .mt-18 {
  margin-top: 72px !important;
}

.v-application .mt-19 {
  margin-top: 76px !important;
}

.v-application .mt-20 {
  margin-top: 80px !important;
}

.v-application .mt-21 {
  margin-top: 84px !important;
}

.v-application .mt-22 {
  margin-top: 88px !important;
}

.v-application .mt-23 {
  margin-top: 92px !important;
}

.v-application .mt-24 {
  margin-top: 96px !important;
}

.v-application .mt-25 {
  margin-top: 100px !important;
}

.v-application .mt-26 {
  margin-top: 104px !important;
}

.v-application .mb-17 {
  margin-bottom: 68px !important;
}

.v-application .mb-18 {
  margin-bottom: 72px !important;
}

.v-application .mb-19 {
  margin-bottom: 76px !important;
}

.v-application .mb-20 {
  margin-bottom: 80px !important;
}

.v-application .mb-21 {
  margin-bottom: 84px !important;
}

.v-application .mb-22 {
  margin-bottom: 88px !important;
}

.v-application .mb-23 {
  margin-bottom: 92px !important;
}

.v-application .mb-24 {
  margin-bottom: 96px !important;
}

.v-application .mb-25 {
  margin-bottom: 100px !important;
}

.v-application .mb-26 {
  margin-bottom: 104px !important;
}

.v-application .pt-17 {
  padding-top: 68px !important;
}

.v-application .pt-18 {
  padding-top: 72px !important;
}

.v-application .pt-19 {
  padding-top: 76px !important;
}

.v-application .pt-20 {
  padding-top: 80px !important;
}

.v-application .pt-21 {
  padding-top: 84px !important;
}

.v-application .pt-22 {
  padding-top: 88px !important;
}

.v-application .pt-23 {
  padding-top: 92px !important;
}

.v-application .pt-24 {
  padding-top: 96px !important;
}

.v-application .pt-25 {
  padding-top: 100px !important;
}

.v-application .pt-26 {
  padding-top: 104px !important;
}

.v-application .pt-30 {
  padding-top: 120px !important;
}

.v-application .pt-40 {
  padding-top: 140px !important;
}

.v-application .pt-60 {
  padding-top: 140px !important;
}

.v-application .pt-80 {
  padding-top: 160px !important;
}

.v-application .pt-100 {
  padding-top: 180px !important;
}

.v-application .pb-17 {
  padding-bottom: 68px !important;
}

.v-application .pb-18 {
  padding-bottom: 72px !important;
}

.v-application .pb-19 {
  padding-bottom: 76px !important;
}

.v-application .pb-20 {
  padding-bottom: 80px !important;
}

.v-application .pb-21 {
  padding-bottom: 84px !important;
}

.v-application .pb-22 {
  padding-bottom: 88px !important;
}

.v-application .pb-23 {
  padding-bottom: 92px !important;
}

.v-application .pb-24 {
  padding-bottom: 96px !important;
}

.v-application .pb-25 {
  padding-bottom: 100px !important;
}

.v-application .pb-26 {
  padding-bottom: 104px !important;
}

.v-application .pb-30 {
  padding-bottom: 120px !important;
}

.v-application .pb-40 {
  padding-bottom: 140px !important;
}

.v-application .pb-60 {
  padding-bottom: 140px !important;
}

.v-application .pb-80 {
  padding-bottom: 160px !important;
}

.v-application .pb-100 {
  padding-bottom: 180px !important;
}

.v-application .pa-17 {
  padding: 68px !important;
}

.v-application .pa-18 {
  padding: 72px !important;
}

.v-application .pa-19 {
  padding: 76px !important;
}

.v-application .pa-20 {
  padding: 80px !important;
}

.v-application .pa-21 {
  padding: 84px !important;
}

.v-application .pa-22 {
  padding: 88px !important;
}

.v-application .pa-23 {
  padding: 92px !important;
}

.v-application .pa-24 {
  padding: 96px !important;
}

.v-application .pa-25 {
  padding: 100px !important;
}

.v-application .pa-26 {
  padding: 104px !important;
}

.v-application .display-text {
  font-size: 80px;
  line-height: 95px;
}

.v-application h1 {
  font-size: 64px;
  line-height: 76px;
}

.v-application h2 {
  font-size: 48px;
  line-height: 57px;
}

.v-application h3 {
  font-size: 32px;
  line-height: 38px;
}

.v-application h4 {
  font-size: 24px;
  line-height: 28px;
}

.v-application p.body-copy-xl {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.v-application p.body-copy-l {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.v-application p.body-copy-m {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.v-application p.caption-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.v-application .font-weight-600 {
  font-weight: 600 !important;
}

.v-application .text-body-main {
  font-size: 18px !important;
}

.v-application .grey-text {
  color: #6e7177;
}

.v-application .black-text {
  color: #101010;
}

.v-application .black-bg {
  background-color: #101010;
}

/* .v-application .bg-colored-text {
  position: absolute;
  z-index: 2;
  background: #fdd5b9;
  width: 100%;
  height: 50px;
  top: 0;
  right: -10px;
} */

.v-application .colored-text {
  z-index: 1;
  /* position: absolute; */
}

.v-application .colored-text::after {
  background: #fdd5b9;
  content: "";
  top: 80px;
  width: 100%;
  height: 50px;
  z-index: 1;
  position: absolute;
}
